{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %} Відновлення паролю {% endblock %}

{% block content %}
<div class="enter">
    <div class="enter-info">
        <h1 style="margin-bottom: 80px;">{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p style="margin-top:0px; margin-bottom: 80px;">{% blocktrans %}Ми надіслали вам електронний лист. Якщо ви не отримали його, перевірте папку зі спамом.
            В іншому випадку зв’яжіться з нами, якщо ви не отримаєте його за кілька хвилин.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
