{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %} Відновлення паролю {% endblock %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Ми надіслали вам електронний лист. Якщо ви не отримали його, перевірте папку зі спамом.
        В іншому випадку зв’яжіться з нами, якщо ви не отримаєте його за кілька хвилин.{% endblocktrans %}</p>
{% endblock %}
