{% extends 'base.html' %}

{% block title %}  Придбати квиток  {% endblock %}

{% block content %}
    <h3> Ціна кожного квитка 150 грн</h3>
    <form action="{% url 'buy-ticket' film.id %}" method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group editContent">
            <label for="contactcomment" class="editContent">Номер квитка</label>
            <textarea class="form-control border" rows="5" name="purchased_ticket" id="contactcomment" required=""></textarea>
        </div>
        <button type="submit" class="mt-3 btn btn-success btn-block py-3"> Придбати </button>
    </form>
{% endblock %}