{% extends 'base.html' %}

{% block title %} Актуальні фільми {% endblock title %}
{% block content %}
    <div class="left-ads-display col-lg-9">
        <div class="row">
            {% for film in film_list %}
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4">
                        <div class="men-thumb-item">
                            <img src="{{ film.poster.url }}" class="img-fluid" alt="">
                        </div>
                        <div class="item-info-product">
                            <a href="{{ film.get_absolute_url }}"> {{ film.film_title }}</a>
                            <h5>Ціна квитка: {{ film.ticket_price }}</h5>
                            <h5>Кінозал номер {{ film.hall }}</h5>
                            <h5>Сюжет: {{ film.story }}</h5>
                            <h5>Сеанс на {{ film.session }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}