{% extends 'base.html' %}

{% block title %} Актуальні фільми {% endblock title %}

{% block content %}
    <div class="left-ads-display col-lg-9">
        <div class="row">
            {% for film in film_list %}
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4">
                        <div class="men-thumb-item">
                            <img src="{{ film.poster.url }}" class="img-fluid" style="border-radius: 5px;" width="200" height="240" alt="">
                            <a href="{{ film.get_absolute_url }}"> {{ film.film_title }}</a>
                            <p>Ціна квитка: {{ film.ticket_price }}</p>
                            <p>Кінозал номер {{ film.hall }}</p>
                            <p>Сеанс на {{ film.session }}</p>
                        </div>
                        <div class="item-info-product">
                            <h5 style="margin:0"><div class="text-center">Сюжет: <br><br></div>{{ film.story }}</h5>
                        </div>
                    </div>
                </div>
                <hr size=6px width=1000px color="#9f2939" style="margin-top: 60px;">
            {% endfor %}
        </div>
    </div>
{% endblock content %}