{% extends 'base.html' %}

{% block title %} Актуальні фільми {% endblock title %}

{% block content %}

    <div class=" product-men">
        <div class="men-thumb-item">
            <img src="{{ film.poster.url }}" class="img-fluid" alt="" width="200" height="240">
        </div>
        <h2>{{ film.film_title }}</h2>
        <h5>Ціна квитка: {{ film.ticket_price }}</h5>
        <h5>Кінозал номер {{ film.hall }}</h5>
        <h5>Сюжет: {{ film.story }}</h5>
        <h5>Сеанс на {{ film.session }}</h5>
        <h5>Вік: {{ film.age }}</h5>
        <h5>Рік: {{ film.year }}</h5>
        <h5>Режисер: {{ film.director }}</h5>
        <h5>В прокаті від {{ film.rental_period_from }} до {{ film.rental_period_to }} </h5>
        <h5>Мова озвучки: {{ film.language }}</h5>
        <h5>Жанр: {{ film.genre }}</h5>
        <h5>Триває {{ film.duration }} год.</h5>
        <h5>Виробництво: {{ film.production }}</h5>
        <h5>Головні ролі: {{ film.main_roles }}</h5>
        <h5>Рейтинг фільму: {{ film.rating }}/5 </h5>
    </div>

    <div class="row">
        <div class="single-form-left">
            <div class="contact-single">
                {% if request.user.is_authenticated %}
                    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#buyModal">
                        Придбати квиток
                    </button>
                    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#bookModal">
                        Забронювати квиток
                    </button>
                {% else %}
                    <h4>Для того щоб придбати квиток, <a href="{% url 'account_login'%}">увійдіть</a> у свій акаунт або <a href="{% url 'account_signup'%}">зареєструтеся.</a></h4>
                    <h4>Для того щоб забронювати квиток, <a href="{% url 'account_login'%}">увійдіть</a> у свій акаунт або <a href="{% url 'account_signup'%}">зареєструтеся.</a></h4>
                {% endif %}
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    <span class="sub-tittle editContent"
                    style="outline: none; cursor: inherit;"></span>Залишити відгук</h3>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'add-review' film.id %}" method="post" class="mt-4">
                        {% csrf_token %}
                        <div class="form-group editContent">
                            <label for="contactcomment" class="editContent">Ваш відгук *</label>
                            <textarea class="form-control border" rows="5" name="text" id="contactcomment" required=""></textarea>
                        </div>
                        <button type="submit" class="mt-3 btn btn-success btn-block py-3"> Опублікувати </button>
                    </form>
                {% else %}
                    <h4>Для того щоб залишити відгук, <a href="{% url 'account_login'%}">увійдіть</a> у свій акаунт або <a href="{% url 'account_signup'%}">зареєструтеся.</a></h4>
                {% endif %}
            </div> <!--  //contact form grid ends here -->
        </div>
    </div>
    {% for review in film.review_set.all %}
            <div class="media py-5 ">
                <img src="media/cinema_app/static/cinema_app/images/user.png" alt="image">
                <div class="media-body mt-4">
                    <h5 class="mt-0 editContent">
                        {{ review.name }}
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>
                </div>
            </div>
    {% endfor %}

<!-- Modal -->
<div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="buyModalLabel"><img src="media/cinema_app/static/cinema_app/images/cinema_hall.png" class="img-fluid" alt="" width="" height=""></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'buy-ticket' film.id film.hall %}" id="buy_form" method="post">
          {% csrf_token %}
          <div class="form-group editContent">
              <div class="mt-1">
                <label>Продані квитки:
                    {% for ticket in film.ticket_set.all %}
                        {{ ticket.purchased_ticket }}
                    {% endfor %}
                </label>
              </div>
              <label for="p_ticket" class="editContent mt-4">Номер квитка:</label>
                  <input class="form-control border mt-3" name="purchased_ticket" id="p_ticket" style="width: 55px;" required="" >
              <label for="number_card" class="editContent mt-3">Номер карти:</label>
                  <input class="form-control border mt-3" id="number_card" style="width: 200px;" maxlength="25">
              <label for="cvv_card" class="editContent mt-3">CVV2 (3 цифри — вказані на зворотній стороні карти)</label>
                  <input class="form-control border mt-3" type="password" id="cvv_card" style="width: 50px;" maxlength="3">
              <div class="row addpadding">
                <label class="editContent mt-3">Дійсна до:</label>
				    <div class="form-group">
					    <table class="select_wrap">
						    <tbody><tr>
							    <td style="vertical-align:top">
								    <select id="month_card" style="border-radius:3px" name="validMONTH" class="valid">
									    <option value="">Month</option>
										<option value="01">01</option>
										<option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <span class="delimiters">/</span>
                                </td>
                                <td>
									<select id="year_card" style="border-radius:3px" name="validYEAR" class="valid">
                                        <option value="">Year</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                        <option value="24">2024</option>
                                        <option value="25">2025</option>
                                        <option value="26">2026</option>
                                        <option value="27">2027</option>
                                        <option value="28">2028</option>
                                        <option value="29">2029</option>
                                        <option value="30">2030</option>
                                        <option value="31">2031</option>
                                        <option value="32">2032</option>
                                    </select>
                                    <span class="valid-ok"></span>
                                </td>
                            </tr><tr>
                            </tbody>
                        </table>
                    </div>
                  <div class="clear"></div>
              </div>
              <label class="mt-3">Сума сплати: 150 грн</label>
          </div>
        </form>
      </div>

      <div class="modal-footer" style="justify-content:center;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <button form="buy_form" type="submit" class="btn btn-primary">Придбати квиток на {{ film.film_title }}</button>
      </div>

          <div class="footer">
				<div class="paysystem " style="display:flex;flex-direction:row;justify-content:center;
				    width: 100%;margin-left: auto; margin-right: auto;padding-bottom:15px">
					<div class="item" style="display:flex;flex-direction:column;height:80px;justify-content:space-between;
					margin-right:65px">
						<div class="image_wrap" style="text-align:center;">
							<img src="media/cinema_app/static/cinema_app/images/visa.png" alt="">
						</div>
						<div class="image_wrap" style="text-align:center;">
							<img src="media/cinema_app/static/cinema_app/images/by_visa.png" alt="">
						</div>
					</div>
					<div class="item" style="display:flex;flex-direction:column;height:80px;justify-content:space-between;">
						<div class="image_wrap" style="text-align:center;">
							<img src="media/cinema_app/static/cinema_app/images/mastercard.png" alt="">
						</div>
						<div class="image_wrap" style="text-align:center;">
							<img src="media/cinema_app/static/cinema_app/images/mastercard_secure.png" alt="">
						</div>
					</div>
					<div class="clear"></div>
				</div>
              <div class="add-info"></div>
		  </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="bookModalLabel"><img src="media/cinema_app/static/cinema_app/images/cinema_hall.png" class="img-fluid" alt="" width="" height=""></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'book-ticket' film.id film.hall %}" id="book_form" method="post">
          {% csrf_token %}
          <div class="form-group editContent">
              <div class="mt-1">
                <label>Продані квитки:
                    {% for ticket in film.ticket_set.all %}
                        {{ ticket.purchased_ticket }}
                    {% endfor %}
                </label>
              </div>
              <label for="p_ticket" class="editContent mt-4">Номер квитка:</label>
                  <input class="form-control border mt-3" name="purchased_ticket" id="b_ticket" style="width: 55px;" required="" >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <button form="book_form" type="submit" class="btn btn-primary">Забронювати квиток на {{ film.film_title }}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}