{% extends 'base.html' %}

{% block title %} Актуальні фільми {% endblock title %}

{% block content %}

    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="left-ads-display col-lg-9">
        <div class="row">
            <div class="col-md-4 product-men">
                <div class="product-shoe-info editContent mt-lg-4">
                    <div class="men-thumb-item text-center" style="font-size: 18px;">
                        <img src="{{ film.poster.url }}" class="img-fluid" style="border-radius: 5px;" width="220" height="250" alt="">
                        <p>{{ film.film_title }}</p>
                        <p>Ціна квитка: {{ film.ticket_price }}грн</p>
                        <p>Кінозал номер {{ film.hall }}</p>
                        <p>Сеанс на {{ film.session }}</p>
                        <p>Вік: {{ film.age }}+</p>
                        <p>Рік: {{ film.year }}</p>
                        <p>Режисер: {{ film.director }}</p>
                        <p>В прокаті від {{ film.rental_period_from }} до {{ film.rental_period_to }} </p>
                        <p>Мова озвучки: {{ film.language }}</p>
                        <p>Жанр: {{ film.genre }}</p>
                        <p>Триває {{ film.duration }} год.</p>
                        <p>Виробництво: {{ film.production }}</p>
                        <p>Рейтинг фільму: {{ film.rating }}/5 </p>
                    </div>
                    <div class="item-info-product font-story" style="font-size: 21px;">
                        <h5 style="margin:0"><div class="text-center">Сюжет: <br><br></div>{{ film.story }}</h5>
                        <br><br>
                        <h5 style="margin:0"><div class="text-center">Головні ролі: <br><br></div>{{ film.main_roles }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="single-form-left">
            <div class="contact-single">
                {% if request.user.is_authenticated %}
                    <button type="button" class="mt-3 buy" data-bs-toggle="modal" data-bs-target="#buyModal">
                        Придбати квиток
                    </button>
                    <button type="button" class="mt-3 buy" data-bs-toggle="modal" data-bs-target="#bookModal">
                        Забронювати квиток
                    </button>
                {% else %}
                    <h4>Для того щоб придбати квиток, <a href="{% url 'account_login'%}">увійдіть</a> у свій акаунт або <a href="{% url 'account_signup'%}">зареєструтеся.</a></h4>
                    <h4>Для того щоб забронювати квиток, <a href="{% url 'account_login'%}">увійдіть</a> у свій акаунт або <a href="{% url 'account_signup'%}">зареєструтеся.</a></h4>
                {% endif %}
            </div> <!--  //contact form grid ends here -->
            <div class="leave-comments">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    <span class="sub-tittle editContent"
                    style="outline: none; cursor: inherit;"></span>Залишити відгук</h3>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'add-review' film.id %}" method="post" class="mt-4">
                        {% csrf_token %}
                        <div class="form-group editContent">
                            <label for="contactcomment" class="editContent">Ваш відгук *</label>
                            <textarea class="form-control border mt-2" rows="3" name="text" id="contactcomment" style="width: 1200px" required=""></textarea>
                        </div>
                        <button type="submit" class="mt-3 py-3 publish"> Опублікувати </button>
                    </form>
                {% else %}
                    <h4>Для того щоб залишити відгук, <a href="{% url 'account_login'%}">увійдіть</a> у свій акаунт або <a href="{% url 'account_signup'%}">зареєструтеся.</a></h4>
                {% endif %}

                <hr size=6px width=1000px color="#9f2939" style="margin-top: 60px;">

                {% for review in film.review_set.all %}
                    <div class="media py-5 ">
                        <img src="media/cinema_app/static/cinema_app/images/user.png" alt="image" class="media-img">
                        <div class="media-body">
                            <h5 class="mt-0 editContent">
                                {{ review.name }}
                            </h5>
                            <p class="mt-2 editContent">
                                {{ review.text }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="buyModalLabel"><img src="media/cinema_app/static/cinema_app/images/cinema_hall.png" class="img-fluid" alt="" width="" height=""></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'buybook-ticket' film.id film.hall %}" id="buy_form" method="post">
          {% csrf_token %}
          <div class="form-group editContent">
              <div class="mt-1">
                <label>Продані квитки:
                    {% for ticket in film.ticket_set.all %}
                        {{ ticket.purchased_ticket }}
                    {% endfor %}
                </label>
              </div>
              <label for="p_ticket" class="editContent mt-4">Номер квитка:</label>
                  <input class="form-control border mt-3" name="purchased_ticket" id="p_ticket" style="width: 55px;" required="" >
              <label for="number_card" class="editContent mt-3">Номер карти:</label>
                  <input placeholder="ХХХХ ХХХХ ХХХХ ХХХХ" class="form-control border mt-3" id="number_card" style="width: 200px;" maxlength="19">
              <label for="cvv_card" class="editContent mt-3">CVV2 (3 цифри — вказані на зворотній стороні карти)</label>
                  <input placeholder="ХХХ" class="form-control border mt-3" type="password" id="cvv_card" style="width: 55px;" maxlength="3">
              <div class="row addpadding">
                <label class="editContent mt-3">Дійсна до:</label>
				    <div class="form-group">
					    <table class="select_wrap">
						    <tbody><tr>
							    <td style="vertical-align:top">
								    <select id="month_card" style="border-radius:3px" name="validMONTH" class="valid">
									    <option value="">Month</option>
										<option value="01">01</option>
										<option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <span class="delimiters">/</span>
                                </td>
                                <td>
									<select id="year_card" style="border-radius:3px" name="validYEAR" class="valid">
                                        <option value="">Year</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                        <option value="24">2024</option>
                                        <option value="25">2025</option>
                                        <option value="26">2026</option>
                                        <option value="27">2027</option>
                                        <option value="28">2028</option>
                                        <option value="29">2029</option>
                                        <option value="30">2030</option>
                                        <option value="31">2031</option>
                                        <option value="32">2032</option>
                                    </select>
                                    <span class="valid-ok"></span>
                                </td>
                            </tr><tr>
                            </tbody>
                        </table>
                    </div>
                  <div class="clear"></div>
              </div>
              <label class="mt-3">Сума сплати: 150 грн</label>
          </div>
        </form>
      </div>

      <div class="modal-footer" style="justify-content:center;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <button form="buy_form" type="submit" class="btn btn-primary">Придбати квиток на {{ film.film_title }}</button>
      </div>

          <div class="">
				<div class="paysystem">
					<div class="item" style="display:flex;flex-direction:column;height:80px;justify-content:space-between;
					margin-right:65px">
						<div class="image_wrap" style="text-align:center;">
							<img src="media/cinema_app/static/cinema_app/images/visa.png" alt="">
						</div>
						<div class="image_wrap" style="text-align:center;">
							<img src="media/cinema_app/static/cinema_app/images/by_visa.png" alt="">
						</div>
					</div>
					<div class="item" style="display:flex;flex-direction:column;height:80px;justify-content:space-between;">
						<div class="image_wrap" style="text-align:center;">
							<img src="media/cinema_app/static/cinema_app/images/mastercard.png" alt="">
						</div>
						<div class="image_wrap" style="text-align:center;">
							<img src="media/cinema_app/static/cinema_app/images/mastercard_secure.png" alt="">
						</div>
					</div>
					<div class="clear"></div>
				</div>
              <div class="add-info"></div>
		  </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="bookModalLabel"><img src="media/cinema_app/static/cinema_app/images/cinema_hall.png" class="img-fluid" alt="" width="" height=""></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'buybook-ticket' film.id film.hall %}" id="book_form" method="post">
          {% csrf_token %}
          <div class="form-group editContent">
              <div class="mt-1">
                <label>Продані квитки:
                    {% for ticket in film.ticket_set.all %}
                        {{ ticket.purchased_ticket }}
                    {% endfor %}
                </label>
              </div>
              <label for="p_ticket" class="editContent mt-4">Номер квитка:</label>
                  <input class="form-control border mt-3" name="purchased_ticket" id="b_ticket" style="width: 55px;" required="" >
          </div>
        </form>
      </div>
      <div class="modal-footer" style="justify-content:center;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <button form="book_form" type="submit" class="btn btn-primary">Забронювати квиток на {{ film.film_title }}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}