{% extends 'base.html' %}

{% block title %} TicketFree Головна {% endblock %}

{% block content %}
    <div  class="mt-2" style="text-align: center;"><img src="static/images/logo1.jpg"></div>
    <div>
        <h1 class="title-set">Вітаємо Вас у всесвіті TicketFree!</h1>
        <hr size=6px width=500px color="#9f2939">
        <h2 class="title-set">Зараз у кіно:</h2>
    </div>
    <div class="comments multiple-items" id="comments">
        {% for el in view.get_slider %}
            <div class="" style="text-align: center; padding-top: 30px;" aria-hidden="true">
                <img src="{{ el.poster.url }}" style="width: 280px; height: 420px; margin-left: 80px; border-radius: 5px;">
                <h3 class="title-set">{{ el.film_title }}</h3>
            </div>
        {% endfor %}
    </div>

    <hr size=6px width=1000px color="#9f2939" style="margin-top: 60px;">

    <div class="prokat">
        <h2 class="title-set">Скоро у прокаті:</h2>
        <div class="prokat-films">
            {% for film in films %}
                <div class="prokat-film" style="font-size: 18px;">
                    <img src="{{ film.poster.url }}" style="border-radius: 5px; width: 200px;">
                    <h3>{{ film.film_title }}</h3>
                    <h5>Дата виходу: {{ film.rental_period_from}}</h5>
                </div>
            {% endfor %}
        </div>
    </div>

    <hr size=6px width=1000px color="#9f2939" style="margin-top: 60px;">

    <div class="menu">
        <h2 class="title-set">Бар:</h2>
        <div class="meal">
            {% for el in view.get_buffet %}
                <div class="food">
                    <img src="{{ el.image.url }}" style="width: 200px; height: 250px; border-radius: 5px;">
                    <p>{{ el.name }}</p>
                    <p>Розмір:<span style="padding-left:5px;">{{ el.size}}</span></p>
                    <p>Ціна:<span style="padding-left:5px;">{{ el.price}} грн</span></p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}